@import "tailwindcss";


@layer components {
    .btn-primary {
        @apply rounded-sm border-[1px] border-pink-700  p-1 mr-1.5 bg-amber-100 cursor-pointer;
    }
}

@layer base{
    h1{
        @apply text-3xl
    }

    h2{
        @apply text-2xl
    }
}

/* .main{
    background-color: orange;
} */
/* .header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.navitems{
    display: flex;
}

.navitems ul{
    display: flex;
    
}

.navitems ul li{
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

.res-card{
    
    width: 200px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.fillter{
    padding: 10px;
    
}

.pizza{
    margin: 5px;

}

.res-logo{
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}
/* shimmer ui */
/* .shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.card{
        width: 200px;
        height: 250px;
        padding: 5px;
        margin: 5px;
        background-color: #f0f0f0;
}

/* button login*/

/* .login-btn{
    margin-right: 10px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.filter-btn{
    margin-left: 3px;
} */


/* .user-data{
    padding: 5px;
    border: 1px solid black;
} */